@using PizzaWebsite.Models.Shop
@model PreviousOrderListViewModel
@{
    ViewBag.Title = "Previous Orders";
}
<h2>@ViewBag.Title</h2>
<div>
    <a href="@Url.Action("Index", "Manage")?@(Request.QueryString)">
        <input type="button" value="Back" class="btn btn-primary" />
    </a>
</div>
@if (!Model.HasPreviousOrders())
{
    <div>
        <p>You do not have any orders.</p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @* Table header for controls columns. *@
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.PreviousOrderViewModel.DateOfOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreviousOrderViewModel.OrderType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreviousOrderViewModel.OrderTotal)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (PreviousOrderViewModel prevOrderVm in Model.PreviousOrderVmList)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("PreviousOrder")/@prevOrderVm.Id?@(Request.QueryString)">
                            <input type="button" value="View" class="btn btn-primary" />
                        </a>
                        <a href="@Url.Action("PreviousOrderStatus")/@prevOrderVm.Id?@(Request.QueryString)">
                            <input type="button" value="Order Status" class="btn btn-primary" />
                        </a>
                        <a href="@Url.Action("OrderAgain")/@prevOrderVm.Id?@(Request.QueryString)">
                            <input type="button" value="Order Again" class="btn btn-primary" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(model => prevOrderVm.DateOfOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(model => prevOrderVm.OrderType)
                    </td>
                    <td>
                        @Html.DisplayFor(viewModel => prevOrderVm.OrderTotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul id="managePagination" class="pagination">
        </ul>
    </nav>
    @section Scripts {
        <script type="text/javascript">
        $(function () {
            pizzaSiteNs.createPagination('#managePagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems);
        });
        </script>
    }
}