@model PizzaWebsite.Models.Employees.EmployeeIndexViewModel
@{
    ViewBag.Title = "Employee Panel";
}
<h2>@ViewBag.Title</h2>
<p>Employee ID: @Model.EmployeeId</p>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<ul class="list-group">
    @if (Model.AuthorizedToManageMenu)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Index", "ManageMenu")">Manage Menu</a>
        </li>
    }
    @if (Model.AuthorizedToManageStores)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Index", "ManageStores")?Page=1&RowsPerPage=10">Manage Stores</a>
        </li>
    }
    @if (Model.AuthorizedToManageUsers)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Index", "ManageUsers")?Page=1&RowsPerPage=10">Manage Users</a>
        </li>
    }
    @if (Model.AuthorizedToManageEmployees)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Index", "ManageEmployees")?Page=1&RowsPerPage=10">Manage Employees</a>
        </li>
    }
</ul>