@using PizzaWebsite.Models
@using PizzaWebsite.Models.Carts
@model CartViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div id="emptyCartBlock" style="display: none;">
    <p>Your cart is empty.</p>
</div>
<div id="cartBlock" style="display: none;">
    @Html.Partial("~/Views/Shared/Carts/_CartWithControls.cshtml")
    @Html.ActionLink("Checkout", "Checkout")
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteCartNs.updateCartElementVisibility();
            pizzaSiteCartNs.updateCartSubtotal(@Model.CartId);
        });
    </script>
    @* Cart item controls. *@
    @foreach (CartItemViewModel cartItemVm in Model.CartItemList)
    {
<script type="text/javascript">
            $(function () {
                var $cartItemRow = $('#@cartItemVm.CartItemRowId');
                var $quantitySelect = $('#@cartItemVm.CartItemQuantitySelectId');
                var $deleteButton = $('#@cartItemVm.CartItemDeleteButtonId');
                var $priceCell = $('#@cartItemVm.CartItemPriceCellId');
                // Update cart item quantity
                $quantitySelect.on("change", function () {
                    var quantity = $quantitySelect.val();
                    var params = { cartItemId: @cartItemVm.CartItemId, quantity: quantity };
                    pizzaSiteNs.ajaxCall('/Shop/UpdateCartItemQuantityAjax', JSON.stringify(params), 'POST').fail(function (response) {
                        console.log(response);
                    })
                    .done(function (response) {
                        $priceCell.html(response);
                        pizzaSiteCartNs.updateCartSubtotal(@Model.CartId);
                    });
                });
                // Delete cart item
                $deleteButton.on("click", function () {
                    var params = { cartItemId: @cartItemVm.CartItemId };
                    pizzaSiteNs.ajaxCall('/Shop/DeleteCartItemAjax', JSON.stringify(params), 'POST').
                        fail(function (response) {
                            console.log(response);
                        }).
                        done(function (response) {
                            $cartItemRow.remove();
                            pizzaSiteCartNs.updateCartElementVisibility();
                            pizzaSiteCartNs.updateCartSubtotal(@Model.CartId);
                        });
                });

            });
</script>
    }
}