@using PizzaWebsite.Models
@model PizzaWebsite.Models.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@if (!Model.IsEmpty())
{
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            @* Empty table header for controls. *@
            <th></th>
        </tr>
        @foreach (CartItemViewModel cartItemVm in Model.CartItemList)
        {
            <tr>
                <td>@cartItemVm.Name</td>
                <td>@Html.Raw(cartItemVm.Description)</td>
                <td>@cartItemVm.Price</td>
                <td>
                    <div>@cartItemVm.Quantity</div>
                    <div class="form-group">
                        @Html.LabelFor(m => cartItemVm.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => cartItemVm.Quantity, new SelectList(cartItemVm.QuantityList, cartItemVm.Quantity))
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        }
    </table>
}