@using PizzaWebsite.Models
@using PizzaWebsite.Models.Carts
@model CartViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div id="emptyCartBlock" style="display: none;">
    <p>Your cart is empty.</p>
</div>
<div id="cartBlock" style="display: none;">
    @Html.Partial("~/Views/Shared/Carts/_CartWithControls.cshtml")
    @Html.Partial("~/Views/Shared/Carts/_CostSummary.cshtml", Model.CostSummaryVm)
    @Html.ActionLink("Checkout", "Checkout")
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteCartNs.updateCartElementVisibility();
        });
    </script>
    @* Cart item controls. *@
    @foreach (CartItemViewModel cartItemVm in Model.CartItemList)
    {
<script type="text/javascript">
            $(function () {
                var rowId = '#@cartItemVm.CartItemRowId';
                var quantitySelectId = '#@cartItemVm.CartItemQuantitySelectId';
                var deleteButtonId = '#@cartItemVm.CartItemDeleteButtonId';
                var priceCellId = '#@cartItemVm.CartItemPriceCellId';
                // Update cart item quantity
                $(quantitySelectId).on("change", function () {
                    var quantity = $(quantitySelectId).val();
                    var params = { cartItemId: @cartItemVm.CartItemId, quantity: quantity };
                    pizzaSiteNs.ajaxCall('/Shop/UpdateCartItemQuantityAjax', JSON.stringify(params), 'POST').fail(function (response) {
                        console.log(response);
                    })
                    .done(function (response) {
                        $(priceCellId).html(response);
                    });
                });
                // Delete cart item
                $(deleteButtonId).on("click", function () {
                    var params = { cartItemId: @cartItemVm.CartItemId };
                    pizzaSiteNs.ajaxCall('/Shop/DeleteCartItemAjax', JSON.stringify(params), 'POST').
                        fail(function (response) {
                            console.log(response);
                        }).
                        done(function (response) {
                            $(rowId).remove();
                            pizzaSiteCartNs.updateCartElementVisibility();
                        });
                });
            });
</script>
    }
}