@using PizzaWebsite.Models
@model PizzaWebsite.Models.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@if (!Model.IsEmpty())
{
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            @* Empty table header for controls. *@
            <th></th>
        </tr>
        @foreach (CartItemViewModel cartItemVm in Model.CartItemList)
        {
            <tr id="@cartItemVm.CartItemRowId">
                <td>@cartItemVm.Name</td>
                <td>@Html.Raw(cartItemVm.Description)</td>
                <td>@cartItemVm.Price</td>
                <td>
                    @Html.DropDownList("Quantity", new SelectList(cartItemVm.QuantityList, cartItemVm.Quantity),
                        new
                        {
                            @class = "form-control",
                            id = cartItemVm.CartItemQuantitySelectId,
                            name = "Quantity"
                        })
                </td>
                <td></td>
            </tr>
        }
    </table>
}

@section Scripts {
    @foreach (CartItemViewModel cartItemVm in Model.CartItemList)
    {
        <script type="text/javascript">
            $(function () {
                var rowId = '#@cartItemVm.CartItemRowId';
                var quantitySelectId = '#@cartItemVm.CartItemQuantitySelectId';
                // Update cart item quantity.
                $(quantitySelectId).on("change", function () {
                    var quantity = $(quantitySelectId).val();
                    var params = { cartItemId: @cartItemVm.CartItemId, quantity: quantity };
                    pizzaSiteNs.ajaxCall('/Shop/UpdateCartItemQuantity', JSON.stringify(params), 'POST').done(function (response) {
			            if (response) {
				            /*$('#stateDropDownList').html('');
				            var options = '';
				            options += '<option value="Select">Select</option>';
				            for (var i = 0; i < response.length; i++) {
					            options += '<option value="' + response[i] + '">' + response[i] + '</option>';
				            }
				            $("#stateDropDownList").append(options);*/
			            }
		            }).fail(function (error) {
			            alert(error.statusText);
		            });
	            });
            });
        </script>
    }
}