@model PizzaWebsite.Models.Shop.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@if (Model.Cart.IsEmpty())
{
    <p>Your cart is empty.</p>
}
else
{
    using (Html.BeginForm("SubmitOrder", "Shop"))
    {
        @Html.AntiForgeryToken()
        <input name="orderConfirmationId" type="hidden" value="@Model.OrderConfirmationId" />

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*
                <div class="form-group">
                    @Html.LabelFor(model => model.TestProperty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TestProperty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TestProperty, "", new { @class = "text-danger" })
                    </div>
                </div>
            *@
            @Html.Partial("~/Views/Shared/Carts/_Cart.cshtml", Model.Cart)

            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Submit Order" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}