@using PizzaWebsite.Models.ManageDeliveryAddresses
@model ManageAddressesViewModel
@{
    ViewBag.Title = "Manage Addresses";
}
<h2>Manage Addresses</h2>
<div>
    @Html.ActionLink("Back", "Index", "Manage", new { }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add New Address", "AddNewAddress", new { }, new { @class = "btn btn-primary" })
</div>
<div id="emptyAddressListBlock" style="display: none;">
    <p>You currently have no delivery addresses.</p>
</div>
<div id="addressListBlock" style="display: none;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address Type</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone</th>
                <th>@* Edit button *@</th>
                <th>@* Delete button *@</th>
            </tr>
        </thead>
        <tbody id="addressTableBody">
            @foreach (DeliveryAddressViewModel addressVm in Model.AddressVmList)
            {
                <tr id="@addressVm.AddressRowId">
                    <td>@addressVm.Name</td>
                    <td>@addressVm.AddressType</td>
                    <td>@addressVm.StreetAddress</td>
                    <td>@addressVm.City</td>
                    <td>@addressVm.State</td>
                    <td>@addressVm.ZipCode</td>
                    <td>@addressVm.PhoneNumber</td>
                    <td>
                        @using (Html.BeginForm("ModifyDeliveryAddress", "ManageDeliveryAddresses", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input name="addressId" type="hidden" value="@addressVm.Id" />
                            <input type="submit" value="Edit" class="form-control btn-primary"/>
                        }
                    </td>
                    <td>
                        <input id="@addressVm.DeleteButtonId" type="button" value="Delete" class="form-control btn-danger" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteManageAddressesNs.updateAddressListElementVisibility();
        });
    </script>
    @* Delivery address controls. *@
    @foreach (DeliveryAddressViewModel addressVm in Model.AddressVmList)
    {
        <script type="text/javascript">
            $(function () {
                var rowId = '#@addressVm.AddressRowId';
                var deleteButtonId = '#@addressVm.DeleteButtonId';
                // Delete delivery address
                $(deleteButtonId).on("click", function () {
                    var params = { addressId: @addressVm.Id };
                    pizzaSiteNs.ajaxCall('/ManageDeliveryAddresses/DeleteDeliveryAddressAjax', JSON.stringify(params), 'POST').
                        fail(function (response) {
                            console.log(response);
                        }).
                        done(function (response) {
                            $(rowId).remove();
                            pizzaSiteManageAddressesNs.updateAddressListElementVisibility();
                        });
                });
            });
        </script>
    }
}