@using PizzaWebsite.Models.Shop
@model PizzaMenuPageViewModel
@{
    ViewBag.Title = "Pizza Menu";
}
<h2>@ViewBag.Title</h2>
<h3>Popular Pizzas</h3>
@foreach (MenuPizzaViewModel menuPizza in Model.PopularPizzaList)
{
    @Html.Partial("_MenuPizzaView", menuPizza)
}
<h3>Meat Pizzas</h3>
@foreach (MenuPizzaViewModel menuPizza in Model.MeatsPizzaList)
{
    @Html.Partial("_MenuPizzaView", menuPizza)
}
<h3>Veggie Pizzas</h3>
@foreach (MenuPizzaViewModel menuPizza in Model.VeggiePizzaList)
{
    @Html.Partial("_MenuPizzaView", menuPizza)
}
<h3>Custom Pizza</h3>
@Html.ActionLink("Create a custom pizza", "BuildPizza", new { }, new { @class = "btn btn-primary" })