@{
    ViewBag.Title = "Manage Menu";
}

<h2>Manage Menu</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Manage Menu</li>
    </ol>
</nav>

<ul class="list-group">
    <li class="list-group-item">
        <a href="@Url.Action("Index", "ManagePizzaMenu")?Page=1&RowsPerPage=10">Pizza Menu</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "ManagePizzaCheeseMenu")?Page=1&RowsPerPage=10">Pizza Cheese Menu</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "ManagePizzaCrustMenu")?Page=1&RowsPerPage=10">Pizza Crust Menu</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "ManagePizzaCrustFlavorMenu")?Page=1&RowsPerPage=10">Pizza Crust Flavor Menu</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "ManagePizzaSauceMenu")?Page=1&RowsPerPage=10">Pizza Sauce Menu</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "ManagePizzaToppingTypeMenu")?Page=1&RowsPerPage=10">Pizza Topping Menu</a>
    </li>
</ul>