
@{
    ViewBag.Title = "Manage Menu";
}

<h2>Manage Menu</h2>

<ul>
    <li>
        <a href="@Url.Action("Index", "ManagePizzaMenu")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Pizza Menu" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManagePizzaCheeseMenu")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Pizza Cheese Menu" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManagePizzaCrustMenu")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Pizza Crust Menu" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManagePizzaCrustFlavorMenu")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Pizza Crust Flavor Menu" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManagePizzaSauceMenu")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Pizza Sauce Menu" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManagePizzaToppingTypeMenu")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Pizza Topping Menu" class="btn btn-default" />
        </a>
    </li>
</ul>