@model PizzaWebsite.Models.ManageListViewModel<PizzaWebsite.Models.StoreLocationViewModel, DataLibrary.Models.Tables.StoreLocation, DataLibrary.Models.Filters.TableFilters.StoreLocationFilter>

@{
    ViewBag.Title = "Manage Stores";
}

<h2>Manage Stores</h2>

<div>
    @using (Html.BeginForm("ManageStores", "ManageWebsite", FormMethod.Get))
    {
        <input type="hidden" name="Page" value="1" />
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Label("StoreName", "Store Name")
        @Html.TextBox("StoreName", Request["StoreName"], new { @class = "form-control" })
        @Html.Label("PhoneNumber", "Phone Number")
        @Html.TextBox("PhoneNumber", Request["PhoneNumber"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-default" />
    }
</div>

<div>
    <a href="@Url.Action("CreateStoreLocation", "ManageWebsite")?@(Request.QueryString)">
        <input type="button" value="Create New Store" class="btn btn-default" />
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.IsActiveLocation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ItemViewModelList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActiveLocation)
            </td>
            <td>
                <a href="@Url.Action("EditStoreLocation", "ManageWebsite")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="Edit" class="btn btn-default" />
                </a>
            </td>
        </tr>
    }
</table>
<nav>
    <ul id="manageStoresPagination" class="pagination">
    </ul>
</nav>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteNs.createPagination('#manageStoresPagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems);
        });
    </script>
}