@model PizzaWebsite.Models.ManageStoresViewModel

@{
    ViewBag.Title = "Manage Stores";
}

<h2>Manage Stores</h2>

<div>

    @using (Html.BeginForm("ManageStores", "ManageWebsite", FormMethod.Get))
    {
        <input type="hidden" name="Page" value="1" />
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Label("StoreName", "Store Name")
        @Html.TextBox("StoreName", Request["StoreName"], new { @class = "form-control" })
        @Html.Label("PhoneNumber", "Phone Number")
        @Html.TextBox("PhoneNumber", Request["PhoneNumber"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-default" />
    }
</div>

<div>
    <a href="@Url.Action("CreateStoreLocation", "ManageWebsite")?@(Request.QueryString)">
        <input type="button" value="Create New Store" class="btn btn-default" />
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.IsActiveLocation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.StoreLocationVmList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActiveLocation)
            </td>
            <td>
                <a href="@Url.Action("EditStoreLocation", "ManageWebsite")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="Edit" class="btn btn-default" />
                </a>
            </td>
        </tr>
    }
</table>
<!-- todo: Add pagination here. -->
<p class="test-text-1">How can mirrors be real if our eyes aren't real?</p>