@model PizzaWebsite.Models.ManageStoresViewModel

@{
    ViewBag.Title = "Manage Stores";
}

<h2>Manage Stores</h2>

<div>
    @using (Html.BeginForm("ManageStores", "ManageWebsite", FormMethod.Get))
    {
        <input type="hidden" name="Page" value="1" />
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Label("StoreName", "Store Name")
        @Html.TextBox("StoreName", Request["StoreName"], new { @class = "form-control" })
        @Html.Label("PhoneNumber", "Phone Number")
        @Html.TextBox("PhoneNumber", Request["PhoneNumber"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-default" />
    }
</div>

<div>
    @using (Html.BeginForm("CreateStoreLocation", "ManageWebsite", FormMethod.Get))
    {
        @Html.Hidden("Page", Request["Page"])
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Hidden("StoreName", Request["StoreName"])
        @Html.Hidden("PhoneNumber", Request["PhoneNumber"])
        <input type="submit" value="Create New Store" class="btn btn-default" />
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationVm.IsActiveLocation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.StoreLocationVmList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActiveLocation)
            </td>
            <td>
                @using (Html.BeginForm("EditStoreLocation", "ManageWebsite", FormMethod.Get))
                {
                    @Html.Hidden("Id", item.Id)
                    @Html.Hidden("Page", Request["Page"])
                    @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
                    @Html.Hidden("StoreName", Request["StoreName"])
                    @Html.Hidden("PhoneNumber", Request["PhoneNumber"])
                    <input type="submit" value="Edit" class="btn btn-default" />
                }
            </td>
        </tr>
    }
</table>
<!-- Testing navigation partial view -->
<div>
    @for (int iPage = 1; iPage <= Model.TotalPages; iPage++)
    {
        using (Html.BeginForm("ManageStores", "ManageWebsite", FormMethod.Get, new { style = "display: inline" }))
        {
            <input type="hidden" name="Page" value="@iPage"/>
            @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
            @Html.Hidden("StoreName", Request["StoreName"])
            @Html.Hidden("PhoneNumber", Request["PhoneNumber"])
            <input type="submit" value="@iPage" class="btn btn-default"/>
        }
    }
</div>