@using PizzaWebsite.Models.Employees
@using PizzaWebsite.Models.ManageMenus
@model ManagePagedListViewModel<ManageMenuPizzaCrustViewModel>
@{
    ViewBag.Title = "Manage Pizza Crust Menu";
}
<h2>@ViewBag.Title</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Employee")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageMenu")">Manage Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<hr />
<div>
    @using (Html.BeginForm("Index", "ManagePizzaCrustMenu", FormMethod.Get))
    {
        <input type="hidden" name="Page" value="1" />
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Label("Name", "Name")
        @Html.TextBox("Name", Request["Name"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-primary" />
    }
</div>
<div>
    <a href="@Url.Action("Add")?@(Request.QueryString)">
        <input type="button" value="Add New Crust" class="btn btn-primary" />
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.AvailableForPurchase)
        </th>
        @* Empy column for Edit button. *@
        <th></th>
    </tr>
    @foreach (var item in Model.ItemViewModelList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableForPurchase)
            </td>
            <td>
                <a href="@Url.Action("Edit")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="Edit" class="btn btn-primary" />
                </a>
            </td>
        </tr>
    }
</table>
<nav>
    <ul id="managePagination" class="pagination">
    </ul>
</nav>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteNs.createPagination('#managePagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems);
        });
    </script>
}