@using System.Collections.Specialized
@using PizzaWebsite.Models.ManageMenuImages
@model ManagePizzaMenuImagesViewModel
@{
    ViewBag.Title = "Menu Images";
}
<h2>@ViewBag.Title</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManageMenu")">Manage Menu</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManagePizzaCrustMenu")?@Request.QueryString">Manage Pizza Crust Menu</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<hr />
@* Upload Menu Icon *@
@* Reset Button *@