@using System.Collections.Specialized
@using PizzaWebsite.Models.ManageMenuImages
@model ManagePizzaMenuImagesViewModel
@{
    ViewBag.Title = "Menu Images";
}
<h2>@ViewBag.Title</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManageMenu")">Manage Menu</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManagePizzaCrustMenu")?@Request.QueryString">Manage Pizza Crust Menu</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<hr />
@* Upload Menu Icon *@
<input id="fileUpload1" type="file" />
<input id="btnUpload" type="button" value="Upload" />
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            var id = @Model.Id;
            $('#btnUpload').click(function() {
                // Check if FormData is available in browser.
                if (window.FormData == undefined) {
                    console.log('FormData is not supported. You must update your browser.');
                } else {
                    var fileUpload = $('#fileUpload1').get(0);
                    var fileList = fileUpload.files;
                    var file = fileList[0];
                    var fileData = new FormData();
                    fileData.append('id', id);
                    fileData.append(file.name, file);

                    $.ajax({
                        url: '/ManagePizzaCrustMenu/UploadMenuIconFile',
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
        });
    </script>
}
@* Reset Button *@