@using System.Collections.Specialized
@using PizzaWebsite.Models.ManageMenuImages
@model ManagePizzaMenuImagesViewModel
@{
    ViewBag.Title = "Manage Images";
}
<h2>@ViewBag.Title</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManageMenu")">Manage Menu</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManagePizzaCrustMenu")?@Request.QueryString">Manage Pizza Crust Menu</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<hr />
@* todo: Finish upload and reset buttons for menu icons and pizza builder icons. *@
<div>
    <img src="@Model.MenuIconUrl" alt="Missing Menu Icon" style="display: block;" />
    <div id="drop-area">
        <h3>Drag and Drop Files Here</h3>
        <input type="file" title="Click to add Files">
    </div>
    @*
        <a href="@Url.Action("UploadMenuIcon", "ManagePizzaCrustMenu")/@Model.Id?@Request.QueryString">Upload Menu Icon</a>*@
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#drop-area").dmUploader({
                url: '@Url.Action("UploadMenuIconAjax", "ManagePizzaCrustMenu")/@Model.Id',
                //... More settings here...

                onInit: function(){
                    //console.log('Callback: Plugin initialized');
                }

                // ... More callbacks
            });
        });
    </script>
}