@using PizzaWebsite.Models.ManageMenuImages
@model UploadMenuIconViewModel
@{
    ViewBag.Title = "Upload Menu Icon";
}
<h2>@ViewBag.Title</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManageMenu")">Manage Menu</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManagePizzaCrustMenu")?@Request.QueryString">Manage Pizza Crust Menu</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("ManageImages", "ManagePizzaCrustMenu")/@Model.Id?@Request.QueryString">Manage Images</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<hr />
<<<<<<< HEAD
@using (Html.BeginForm("UploadImageTest", "ManagePizzaCrustMenu", FormMethod.Post, new { enctype = "multipart/form-data" }))
=======
@using (Html.BeginForm("UploadMenuIcon", "ManagePizzaCrustMenu", FormMethod.Post, new { enctype = "multipart/form-data" }))
>>>>>>> parent of 7332311 (Uninstalled jQuery File Upload plugin and removed all references to it.)
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.Partial("~/Views/Shared/_UploadImage.cshtml")
}