@using PizzaWebsite.Models.Employees
@using PizzaWebsite.Models.ManageEmployees
@model ManagePagedListViewModel<ManageEmployeeViewModel>
@{
    ViewBag.Title = "Manage Employees";
}
<h2>Manage Employees</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Employee")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Employees</li>
    </ol>
</nav>
<hr />
<div>
    @using (Html.BeginForm("Index", "ManageEmployees", FormMethod.Get))
    {
        <input type="hidden" name="Page" value="1" />
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Label("EmployeeId", "Employee ID")
        @Html.TextBox("EmployeeId", Request["EmployeeId"], new { @class = "form-control" })
        @Html.Label("UserId", "User ID")
        @Html.TextBox("UserId", Request["UserId"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-primary" />
    }
</div>
<div>
    <a href="@Url.Action("AddEmployee")?@(Request.QueryString)">
        <input type="button" value="Add New Employee" class="btn btn-primary" />
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.IsManager)
        </th>
        @* Empty headers for Edit, View Locations columns. *@
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.ItemViewModelList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsManager)
            </td>
            <td>
                <a href="@Url.Action("ManageEmployee")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="Edit" class="btn btn-primary" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("ViewLocations")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="View Locations" class="btn btn-primary" />
                </a>
            </td>
        </tr>
    }
</table>
<nav>
    <ul id="managePagination" class="pagination">
    </ul>
</nav>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteNs.createPagination('#managePagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems);
        });
    </script>
}