@using PizzaWebsite.Models.ManageWebsite
@model ManagePagedListViewModel<ManageEmployeeViewModel>

@{
    ViewBag.Title = "Manage Employees";
}

<h2>Manage Employees</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageWebsite")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Employees</li>
    </ol>
</nav>

<div>
    @using (Html.BeginForm("Index", "ManageEmployees", FormMethod.Get))
    {
        <input type="hidden" name="Page" value="1" />
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Label("EmployeeId", "Employee ID")
        @Html.TextBox("EmployeeId", Request["EmployeeId"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-primary" />
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.CurrentlyEmployed)
        </th>
        <th><!-- Empty header for edit column --></th>
    </tr>

    @foreach (var item in Model.ItemViewModelList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentlyEmployed)
            </td>
            <td>
                <a href="@Url.Action("ManageEmployee")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="Edit" class="btn btn-primary" />
                </a>
            </td>
        </tr>
    }
</table>

<nav>
    <ul id="managePagination" class="pagination">
    </ul>
</nav>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteNs.createPagination('#managePagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems);
        });
    </script>
}