@using PizzaWebsite.Models
@model DeliveryInfoViewModel
<div class="container">
    <div class="row">
        <div class="col">Delivery Date</div>
        <div class="col">@Model.DeliveryDate</div>
    </div>
    <div class="row">
        <div class="col">Address Type</div>
        <div class="col">@Model.AddressType</div>
    </div>
    <div class="row">
        <div class="col">Address Name</div>
        <div class="col">@Model.AddressName</div>
    </div>
    <div class="row">
        <div class="col">Street Address</div>
        <div class="col">@Model.StreetAddress</div>
    </div>
    <div class="row">
        <div class="col">City</div>
        <div class="col">@Model.City</div>
    </div>
    <div class="row">
        <div class="col">State</div>
        <div class="col">@Model.State</div>
    </div>
    <div class="row">
        <div class="col">Zip Code</div>
        <div class="col">@Model.ZipCode</div>
    </div>
    <div class="row">
        <div class="col">Phone Number</div>
        <div class="col">@Model.PhoneNumber</div>
    </div>
</div>