@using PizzaWebsite.Models
@model DeliveryInfoViewModel
<div class="container">
    <div class="row">
        <div class="col-sm-2">Address Type</div>
        <div class="col-sm-10">@Model.AddressType</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Address Name</div>
        <div class="col-sm-10">@Model.AddressName</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Street Address</div>
        <div class="col-sm-10">@Model.StreetAddress</div>
    </div>
    <div class="row">
        <div class="col-sm-2">City</div>
        <div class="col-sm-10">@Model.City</div>
    </div>
    <div class="row">
        <div class="col-sm-2">State</div>
        <div class="col-sm-10">@Model.State</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Zip Code</div>
        <div class="col-sm-10">@Model.ZipCode</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Phone Number</div>
        <div class="col-sm-10">@Model.PhoneNumber</div>
    </div>
</div>