@using PizzaWebsite.Models.PizzaBuilders
@model PizzaToppingViewModel
@* Save list state *@
<input type="hidden" name="ToppingVmList[@Model.ListIndex].ListIndex" value="@Model.ListIndex" />
<input type="hidden" name="ToppingVmList[@Model.ListIndex].Category" value="@Model.Category" />
<input type="hidden" name="ToppingVmList[@Model.ListIndex].Id" value="@Model.Id" />
<input type="hidden" name="ToppingVmList[@Model.ListIndex].Name" value="@Model.Name" />
@for (int iToppingAmount = 0; iToppingAmount < Model.AmountList.Count; iToppingAmount++)
{
    <input type="hidden" name="ToppingVmList[@Model.ListIndex].AmountList[@iToppingAmount]" value="@Model.AmountList[iToppingAmount]" />
}
@for (int iToppingHalf = 0; iToppingHalf < Model.ToppingHalfList.Count; iToppingHalf++)
{
    <input type="hidden" name="ToppingVmList[@Model.ListIndex].ToppingHalfList[@iToppingHalf]" value="@Model.ToppingHalfList[iToppingHalf]" />
}
<div class="form-group pb-topping">
    <div class="col-md-2">
        <label class="control-label">@Model.Name</label>
    </div>
    <div class="col-md-3">
        @for (int iToppingAmount = 0; iToppingAmount < Model.AmountList.Count; iToppingAmount++)
        {
            string toppingAmount = Model.AmountList[iToppingAmount];
            if (Model.SelectedAmount == toppingAmount)
            {
                <input type="radio" name="@($"ToppingVmList[{Model.ListIndex}].SelectedAmount")" id="@($"ToppingVmList[{Model.ListIndex}].AmountList[{iToppingAmount}]")" value="@toppingAmount" checked />
            }
            else
            {
                <input type="radio" name="@($"ToppingVmList[{Model.ListIndex}].SelectedAmount")" id="@($"ToppingVmList[{Model.ListIndex}].AmountList[{iToppingAmount}]")" value="@toppingAmount" />
            }
            <label for="@($"ToppingVmList[{Model.ListIndex}].AmountList[{iToppingAmount}]")">@toppingAmount</label>
        }
    </div>
    <div class="col-md-2">
        @for (int iToppingHalf = 0; iToppingHalf < Model.ToppingHalfList.Count; iToppingHalf++)
        {
            string toppingHalf = Model.ToppingHalfList[iToppingHalf];
            if (Model.SelectedToppingHalf == toppingHalf)
            {
                <input type="radio" name="@($"ToppingVmList[{Model.ListIndex}].SelectedToppingHalf")" id="@($"ToppingVmList[{Model.ListIndex}].ToppingHalfList[{iToppingHalf}]")" value="@toppingHalf" checked />
            }
            else
            {
                <input type="radio" name="@($"ToppingVmList[{Model.ListIndex}].SelectedToppingHalf")" id="@($"ToppingVmList[{Model.ListIndex}].ToppingHalfList[{iToppingHalf}]")" value="@toppingHalf" />
            }
            <label for="@($"ToppingVmList[{Model.ListIndex}].ToppingHalfList[{iToppingHalf}]")">@toppingHalf</label>
        }
    </div>
</div>