@using PizzaWebsite.Models.ManageMenuImages
@model ManagePizzaMenuToppingImagesViewModel
@{
    ViewBag.Title = Model.ViewTitle;
}
<h2>@Model.ViewTitle</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManageMenu")">Manage Menu</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManagePizzaToppingTypeMenu")?@Request.QueryString">Manage Pizza Topping Menu</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ViewTitle</li>
    </ol>
</nav>
<hr />
@Html.Partial("~/Views/Shared/ManageMenuImages/_UploadMenuImageForm.cshtml", Model.MenuIconVm)
@Html.Partial("~/Views/Shared/ManageMenuImages/_UploadMenuImageForm.cshtml", Model.PizzaBuilderImageVm)
@Html.Partial("~/Views/Shared/ManageMenuImages/_UploadMenuImageForm.cshtml", Model.PizzaBuilderLeftImageVm)
@Html.Partial("~/Views/Shared/ManageMenuImages/_UploadMenuImageForm.cshtml", Model.PizzaBuilderRightImageVm)
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteManageMenuImageNs.initializeUploadSection('@Url.Action("UploadMenuIconAjax", "ManagePizzaToppingTypeMenu")/@Model.Id',
                @Model.MenuIconVm.ImageId, @Model.MenuIconVm.ErrorMessageId, @Model.MenuIconVm.DropAreaId);
            pizzaSiteManageMenuImageNs.initializeUploadSection('@Url.Action("UploadPizzaBuilderImageAjax", "ManagePizzaToppingTypeMenu")/@Model.Id',
                @Model.PizzaBuilderImageVm.ImageId, @Model.PizzaBuilderImageVm.ErrorMessageId, @Model.PizzaBuilderImageVm.DropAreaId);
            pizzaSiteManageMenuImageNs.initializeUploadSection('@Url.Action("UploadPizzaBuilderLeftImageAjax", "ManagePizzaToppingTypeMenu")/@Model.Id',
                @Model.PizzaBuilderLeftImageVm.ImageId, @Model.PizzaBuilderLeftImageVm.ErrorMessageId, @Model.PizzaBuilderLeftImageVm.DropAreaId);
            pizzaSiteManageMenuImageNs.initializeUploadSection('@Url.Action("UploadPizzaBuilderRightImageAjax", "ManagePizzaToppingTypeMenu")/@Model.Id',
                @Model.PizzaBuilderRightImageVm.ImageId, @Model.PizzaBuilderRightImageVm.ErrorMessageId, @Model.PizzaBuilderRightImageVm.DropAreaId);
        });
    </script>
}