@using PizzaWebsite.Models
@using PizzaWebsite.Models.ManageWebsite
@model ManagePagedListViewModel<ManageStoreViewModel>

@{
    ViewBag.Title = "Manage Stores";
}

<h2>Manage Stores</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Employee")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Stores</li>
    </ol>
</nav>
<hr />

<div>
    @using (Html.BeginForm("Index", "ManageStores", FormMethod.Get))
    {
        <input type="hidden" name="Page" value="1" />
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Label("StoreName", "Store Name")
        @Html.TextBox("StoreName", Request["StoreName"], new { @class = "form-control" })
        @Html.Label("PhoneNumber", "Phone Number")
        @Html.TextBox("PhoneNumber", Request["PhoneNumber"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-primary" />
    }
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Executive"))
{
    <div>
        <a href="@Url.Action("CreateStore")?@(Request.QueryString)">
            <input type="button" value="Create New Store" class="btn btn-primary" />
        </a>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemViewModel.IsActiveLocation)
        </th>
        @* Empty columns for Edit and Employee Roster buttons. *@
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.ItemViewModelList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActiveLocation)
            </td>
            <td>
                <a href="@Url.Action("EditStore")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="Edit" class="btn btn-primary" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("EmployeeRoster")/@item.Id?@(Request.QueryString)">
                    <input type="button" value="Employee Roster" class="btn btn-primary" />
                </a>
            </td>
        </tr>
    }
</table>

<nav>
    <ul id="managePagination" class="pagination">
    </ul>
</nav>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSiteNs.createPagination('#managePagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems);
        });
    </script>
}