@model PizzaWebsite.Models.Menu.Pizzas.Ingredients.Crust

@{
    if (Model.IsNewRecord)
    {
        ViewBag.Title = "Add New Crust";
    }
    else
    {
        ViewBag.Title = "Modify Crust";
    }
}

<h2>@ViewBag.Title</h2>

@if (Model.IsNewRecord)
{
    using (Html.BeginForm("AddCrustRecord", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_ModifyCrustPartialView", Model)
    }
}
else
{
    using (Html.BeginForm("ModifyCrustRecord", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_ModifyCrustPartialView", Model)
    }
}

<div>
    @Html.ActionLink("Back to List", "ManagePizzaIngredients")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
