@using PizzaWebsite.Models
@using PizzaWebsite.Models.ManageOrders
@model StoreOrderListViewModel
@{
    ViewBag.Title = "Orders";
}
<h2>@ViewBag.Title</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManageOrders")?@Model.StoreSearchQueryString">Search Stores</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<hr />
<div>
    @using (Html.BeginForm("Store", "ManageOrders", FormMethod.Get))
    {
        @Html.Hidden("Page", Request["Page"])
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Hidden("Name", Request["Name"])
        @Html.Hidden("PhoneNumber", Request["PhoneNumber"])
        <input type="hidden" name="OrdersPage" value="1" />
        @Html.Hidden("OrdersRowsPerPage", Request["OrdersRowsPerPage"])
        @Html.Label("OrdersUserId", "User Id")
        @Html.TextBox("OrdersUserId", Request["OrdersUserId"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-primary" />
    }
</div>
<table class="table">
    <thead>
    <tr>
        @* Table header for controls columns. *@
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOrderVm.DateOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOrderVm.OrderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOrderVm.OrderTotal)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (CustomerOrderViewModel orderVm in Model.CustomerOrderVmList)
    {
        <tr>
            <td>
                <a href="@Url.Action("ViewOrder")/@orderVm.Id?@(Request.QueryString)">
                    <input type="button" value="View" class="btn btn-primary"/>
                </a>
            </td>
            <td>
                @Html.DisplayFor(model => orderVm.DateOfOrder)
            </td>
            <td>
                @Html.DisplayFor(model => orderVm.OrderType)
            </td>
            <td>
                @Html.DisplayFor(viewModel => orderVm.OrderTotal)
            </td>
        </tr>
    }
    </tbody>
</table>
<nav>
    <ul id="managePagination" class="pagination">
    </ul>
</nav>
@section Scripts {
    <script type="text/javascript">
        $(function() {
            pizzaSiteNs.createPagination('#managePagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems);
        });
    </script>
}