@using PizzaWebsite.Models
@using PizzaWebsite.Models.ManageOrders
@model StoreOrderListViewModel
@{
    ViewBag.Title = "Orders";
}
<h2>@ViewBag.Title</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Employee")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ManageOrders")?@Model.StoreSearchQueryString">Search Stores</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<hr />
<div>
    @using (Html.BeginForm("Store", "ManageOrders", FormMethod.Get))
    {
        @Html.Hidden("Page", Request["Page"])
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        @Html.Hidden("Name", Request["Name"])
        @Html.Hidden("PhoneNumber", Request["PhoneNumber"])
        <input type="hidden" name="OrdersPage" value="1" />
        @Html.Hidden("OrdersRowsPerPage", Request["OrdersRowsPerPage"])
        @Html.Label("OrdersUserId", "User ID")
        @Html.TextBox("OrdersUserId", Request["OrdersUserId"], new { @class = "form-control" })
        <input type="submit" value="Apply Search Filters" class="btn btn-primary" />
    }
</div>
<table class="table">
    <thead>
        <tr>
            @* Table headers for controls columns. *@
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.StoreOrderVm.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreOrderVm.OrderCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreOrderVm.DateOfOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreOrderVm.OrderType)
            </th>
            <th>
                @Url.Action("Index", "ManageOrders")
            </th>
        </tr>
    </thead>
    <tbody>
    @default
#line hidden

#line 26 "D:\Programming_Archive\PizzaWebsite\src\pizza-website\PizzaWebsite\Views\ManageOrders\StoreOrderList.cshtml"

    }

#line default
#line hidden

#line 27 "D:\Programming_Archive\PizzaWebsite\src\pizza-website\PizzaWebsite\Views\ManageOrders\StoreOrderList.cshtml"
    __o = Html.DisplayNameFor(model => model.StoreOrderVm.UserId);


#line default
#line hidden

#line 28 "D:\Programming_Archive\PizzaWebsite\src\pizza-website\PizzaWebsite\Views\ManageOrders\StoreOrderList.cshtml"
           __o = Html.DisplayNameFor(model => model.StoreOrderVm.OrderCompleted);


#line default
#line hidden

#line 29 "D:\Programming_Archive\PizzaWebsite\src\pizza-website\PizzaWebsite\Views\ManageOrders\StoreOrderList.cshtml"
           __o = Html.DisplayNameFor(model => model.StoreOrderVm.DateOrderPlaced);


#line default
#line hidden

#line 30 "D:\Programming_Archive\PizzaWebsite\src\pizza-website\PizzaWebsite\Views\ManageOrders\StoreOrderList.cshtml"
           __o = Html.DisplayNameFor(model => model.StoreOrderVm.OrderType);


#line default
#line hidden

#line 31 "D:\Programming_Archive\PizzaWebsite\src\pizza-website\PizzaWebsite\Views\ManageOrders\StoreOrderList.cshtml"
           __o = Html.DisplayNameFor(model => model.StoreOrderVm.OrderTotal);


#line default
#line hidden

#line 32 "D:\Programming_Archive\PizzaWebsite\src\pizza-website\PizzaWebsite\Views\ManageOrders\StoreOrderList.cshtml"
    foreach (CustomerOrderViewModel orderVm in Model.StoreOrderVmList)
    {
        <tr>
            <td>
                <a href="@Url.Action("ViewOrder")/@orderVm.Id?@(Request.QueryString)">
                    <input type="button" value="View" class="btn btn-primary" />
                </a>
            </td>
            <td>
                <!-- ORDER STATUS SELECT LIST WILL GO HERE -->
                @Html.DropDownListFor(model => orderVm.)
            </td>
            <td>
                @Html.DropDownList("Status", new SelectList(cartItemVm.QuantityList, cartItemVm.Quantity),
                    new
                    {
                        @class = "form-control",
                        id = cartItemVm.CartItemQuantitySelectId,
                        name = "Quantity"
                    })
            </td>
            <td>
                @Html.DisplayFor(model => orderVm.UserId)
            </td>
            <td>
                @Html.DisplayFor(model => orderVm.OrderCompleted)
            </td>
            <td>
                @Html.DisplayFor(model => orderVm.DateOfOrder)
            </td>
            <td>
                @Html.DisplayFor(model => orderVm.OrderType)
            </td>
            <td>
                @Html.DisplayFor(viewModel => orderVm.OrderTotal)
            </td>
        </tr>
    }
    </tbody>
</table>
<nav>
    <ul id="managePagination" class="pagination">
    </ul>
</nav>
@section Scripts {
    <script type="text/javascript">
        $(function() {
            pizzaSiteNs.createPaginationCustomized('#managePagination', @Model.PaginationVm.CurrentPage, @Model.PaginationVm.RowsPerPage, @Model.PaginationVm.TotalPages, @Model.PaginationVm.TotalNumberOfItems, 'OrdersPage');
        });
    </script>
}